.App {
  text-align: center;
  font-family: 'Mirza', sans-serif;
}

.App-header {
  margin-bottom: 40px;
}

.title {
  font-size: 40px;
  margin-top: 20px;
  color: #00649c;
  font-family: 'Satisfy', cursive;
  margin-bottom: 0;
}

.sub-title {
  margin-top: 0;
  font-size: 20px;
  font-family: 'Satisfy', cursive;
  color: #66b9e8;
}

hr {
  margin: 0 auto;
  width: 650px;
  height: 2px;
  color: #00649c;
  background-color: #00649c;
}

h2 {
  font-family: 'Satisfy', cursive;
}

h2 span {
  font-family: monospace;
  font-size: 22px;
}

p {
  font-size: 27px;
  color: #00649c;
  margin-top: 10px;
}

.fa {
  margin: 0 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.fa-repeat {
  color: #fff;
  background-color: #00649c;
  border-radius: 50px;
  padding: 8px;
  margin: 0 20px;
  font-size: 30px;
}

.replay {
  cursor: pointer;
  margin: 0;
  padding: 0;
  margin: auto;
  display: inline-flex;
  align-items: center;
}

.replay:hover {
  color: #00649c;
}

.no-cursor {
  cursor: not-allowed;
}

.active {
  color: #00649c;
}

.hidden {
  display: none;
}
