.App {
  text-align: center;
  font-family: 'Mirza', sans-serif;
}

h1 {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
  color: #00649c;
  font-family: 'Satisfy', cursive;
}

h2 {
  font-family: 'Satisfy', cursive;
}

p {
  font-size: 27px;
  color: #00649c;
}

.fa {
  margin: 0 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.active {
  color: #00649c;
}
